@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 20px;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: hsl(22, 79%, 54%);
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 22px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 25px;
}

/* Start of Header section */
.header {
  background-color: #141c27;
  color: #fff;
  height: 60px;
}

.header .container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.header__logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.header__list {
  display: flex;
}

.header__link {
  color: #e5e7eb;
  font-size: 18px;
  margin-right: 20px;
}

.header__link:hover {
  filter: brightness(80%);
}
/* End of Header section */

/* Start of Hero section */
.hero {
  background-color: #1f2937;
  line-height: 1.2;
}

.hero .container {
  display: flex;
  align-items: center;
  min-height: 95vh;
  gap: 1rem;
}

.hero__title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero__paragraph {
  color: #e5e7eb;
  font-size: 18px;
  margin: 15px 0;
}

.hero__button {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.hero__button:hover {
  filter: brightness(90%);
}

.hero__img {
  border-radius: 12px;
  max-width: 600px;
}

.hero__box {
  flex: 1;
}
/* End of Hero section */

/* Start of Information section */
.information {
  padding: 3em 0;
}

.information .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  min-height: 55vh;
  justify-content: center;
  max-width: 815px;
}

.information__title {
  color: #1f2937;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 15px;
}

.information__box {
  flex-basis: 160px;
}

.information__img {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #fdc161;
  height: auto;
  width: 100%;
}
/* End of Information section */

/* Start of Quote section */
.quote {
  background-color: #e5e7eb;
}

.quote .container {
  display: flex;
  align-items: center;
  min-height: 60vh;
}

.quote__paragraph {
  color: #1f2937;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.3;
}

.quote__signature {
  display: flex;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  justify-content: flex-end;
}

.quote .container {
  max-width: 770px;
}
/* End of Quote section */

/* Start of Call To Action section */
.cta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
}

.cta__box {
  align-items: center;
  background-image: url(images/halloween-bg.jpg);
  background-position: 0% 28%;
  background-size: cover;
  border-radius: 10px;
  border: 2px solid orange;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  min-height: 180px;
  padding: 0.3em 1em;
}

.cta__title {
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.700);
}

.cta__paragraph {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.600);
  font-weight: bold;
  font-size: 18px;
}

.cta__button {
  border: 1px solid rgba(0, 0, 0, 0.85);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.600);
  border-radius: 10px;
}

.cta__button:hover {
  filter: brightness(90%);
}
/* End of Call To Action section */

.footer {
  background-color: #141c27;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 300;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Start of Hero FREE text's animation */
@keyframes freeText {
  0% {
    color: rgb(255, 184, 117);
  }
  25% {
    color: rgb(223, 87, 9);
  }
  100% {
    color: rgba(255, 177, 113, 0.897);
  }
  50% {
    color: rgb(255, 189, 65);
  }
}

.hero__free {
  animation-name: freeText;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/* End of Hero FREE text's animation */

/* Start of Hero's gift icon */
@keyframes heroGift {
  0% {
    color: rgb(255, 184, 117);
    transform: scale(90%) rotate(35deg);
  }
  25% {
    color: rgb(223, 87, 9);
  }
  50% {
    color: rgba(255, 177, 113, 0.897);
    transform: scale(100%) rotate(-35deg);
  }
  100% {
    color: rgb(255, 189, 65);
    transform: scale(90%) rotate(35deg);
  }
}

.hero__gift {
  animation-name: heroGift;
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.hero__gift {
  color: rgb(255, 189, 65);
  transform: scale(90%);
}
/* End of Hero's gift icon */

/* Pixabay and Pexels credits plus random components */
.pixabay-credits {
  color: #fff;
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}

.pexels-credits {
  font-size: 16px;
  text-align: center;
}

.pixabay-credits a:link,
.pixabay-credits a:visited,
.pexels-credits a:link,
.pexels-credits a:visited {
  color: rgb(223, 148, 9);
  border-bottom: 1px solid rgb(223, 148, 9);
}

.pexels-credits a:link,
.pexels-credits a:visited {
  border: none;
}

.pixabay-credits a:hover,
.pixabay-credits a:focus,
.pexels-credits a:hover,
.pexels-credits a:focus {
  filter: brightness(70%);
}

.dark-color {
  color: rgb(15, 15, 15);
}

.dark-bg {
  background-color: rgb(15, 15, 15);
}
/* End of Credits*/

/* Start of Media Queries for practicing purposes */

/* This is not the best way to make media queries
I've done these really quickly just for practicing
flexbox's shink and basis properties */
@media (max-width: 580px) {
  .header {
    height: 75px;
  }
  .header .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    margin: 0;
  }

  .header__link {
    margin: 0 1em;
  }

  .quote {
    padding: 1em 0;
  }

  .cta__box {
    flex-direction: column;
  }

}
@media (max-width: 800px) {
  .cta .container {
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .hero .container {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
  }

  .hero__img {
    max-width: 800px;
    margin-bottom: 0.5em;
  }

  .hero__button {
    font-size: 0.75em;
  }
}
/* End of Media Queries */
